* {
    color:white;
}
.container {
    border-right: 1px solid black;
}

h1 {
    border-bottom: 1px solid white;
}
h1,table {
    text-align: center;
}
th {
    font-size: 1.2em;
}
tr {
    border: 1px solid black;
}
