.exchangeContainer {
    margin: 3rem;
    padding: 2rem;
}
.exchangeContainer input {
    margin-right: 3rem;
}

#usdSymbol {
    font-weight: 10px;
    font-style: bold;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
