<div class="page">
<mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab
    *ngFor="let crypto of cryptos">
    <ng-template mat-tab-label>
        <span (click)="findCryptoByName()">{{ crypto }}</span>
    </ng-template>
</mat-tab>
<mat-tab>
    <ng-template mat-tab-label >
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div class="container-fluid dashboardP">
    <div class="row page">
        <div class="col-sm-6 col-lg-2">
            <app-high-low-list *ngIf="cryptos.length!==0" [cryptosArr]="cryptos"></app-high-low-list>
        </div>
        <div class="col-sm-6 col-lg-10 ">
            <div *ngIf="selectedCryptoDetails" class="container-fluid rightBox">
                <div class="row">
                    <app-line-chart [cryptoInfo] = "selectedCryptoDetails"></app-line-chart>
                    <hr>
                </div>
                <div class="row">
                    <app-exchange [cryptoData] = "selectedCryptoDetails"></app-exchange>
                </div>
                <div class="row d-flex justify-content-center">
                    <button mat-raised-button color="warn" (click)="deleteCrypto();">DeleteCrypto</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>