<mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab
    *ngFor="let crypto of cryptos">
    <ng-template mat-tab-label>
        <span (click)="findCryptoByName()">{{ crypto }}</span>
    </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label >
            <button mat-icon-button (click)="openDialog()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div *ngIf="selectedCryptoDetails" 
class="container">
    <app-line-chart 
    [cryptoInfo] = "selectedCryptoDetails"
    ></app-line-chart>
    <hr>
<app-exchange
[cryptoData] = "selectedCryptoDetails"
></app-exchange>

<button mat-raised-button color="warn" (click)="deleteCrypto();">DeleteCrypto</button>
</div>